@import "variables";
@import "simplebar/dist/simplebar.min.css";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "./layout/sidebar";
@import "./layout/container";
@import "./layout/customizer";
@import "./layout/horizontal";
@import "./layout/topbar";
@import "./layout/rtl/rtl";
@import "./pages/steamline";
.recording-button {
    animation: pulse 1s infinite;
    background-color: red !important;
    color: white !important;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .record-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button {
    background-color: red;
    color: white;
  }
  
  .stop-button {
    background-color: gray;
    color: white;
  }
  
  .record-button:hover {
    opacity: 0.8;
  }